
$font-stack: "Barlow Semi Condensed", sans-serif;

$font-color-violet: #7541c8;
$font-color-light-violet: #A775F1;
$font-color-dark-grayish-blue: #48556a;
$font-color-dark-blackish-blue: #19212e;

$font-color-light-gray: #cfcfcf;
$font-color-light-grayish-blue: #ecf2f8;

$font-weight-medium: 500;
$font-weight-semibold: 600;

$status-opacity: 50%;
$review-opacity: 70%;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: $font-stack;
    font-size: 0.813rem;
}

