@use 'base';

@mixin card(
    $bgColor: white,
    $avatar-border-color: white,
    $name-color: white,
    $status-color: white,
    $title-color: white,
    $review-color: white
    ) {
    background-color: $bgColor;
    border-radius: 8px;
    box-shadow: 40px 60px 50px -47px rgba(base.$font-color-dark-grayish-blue, 24.74%);
    padding: 26px 32px 32px;

    .author-details {
        display: flex;
        align-items: center;
        gap: 17px;
        height: 1.75rem;
        margin-bottom: 18px;
        position: relative;

        img {
            border-radius: 50%;
            border: 2px solid $avatar-border-color;
            height: 100%;
        }

        .name {
            color: $name-color;
            font-weight: base.$font-weight-medium;
            line-height: 1;
            margin-bottom: 4px;
        }
    
        .status {
            color: rgba($status-color, base.$status-opacity);
            font-size: 0.688rem;
            font-weight: base.$font-weight-medium;
            line-height: 1;
        }
    }

    h1 {
        color: $title-color;
        font-size: 1.25rem;
        font-weight: base.$font-weight-semibold;
        margin-bottom: 1rem;
        position: relative;
    }

    blockquote {
        font-size: base.$font-weight-medium;
        line-height: 18px;
        color: rgba($review-color, base.$review-opacity);
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 71px 24px;
    gap: 24px;

    @media screen and (min-width: 64rem) {
        grid-template-columns: repeat(4, fit-content(15.938rem));
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }
}

#daniel {
    @include card(
        $bgColor: base.$font-color-violet,
        $avatar-border-color: base.$font-color-light-violet,
    );
    
    position: relative;
    
    img.quotation {
        position: absolute;
        top: 0%;
        right: 8%;
    }

    @media screen and (min-width: 64rem) {
        grid-column: span 2;

        img.quotation {
            right: 15%;
        }
    }
}

#jonathan {
    @include card(
        $bgColor: base.$font-color-dark-grayish-blue,
        $avatar-border-color: transparent,
    );
}

#jeanette {
    @include card(
        $avatar-border-color: transparent,
        $name-color: base.$font-color-dark-grayish-blue,
        $status-color: base.$font-color-dark-grayish-blue,
        $title-color: base.$font-color-dark-grayish-blue,
        $review-color: base.$font-color-dark-grayish-blue,
    );


    @media screen and (min-width: 64rem) {
        grid-row: 2 / 3;
    }
    
}

#patrick {
    @include card(
        $bgColor: base.$font-color-dark-blackish-blue,
        $title-color: base.$font-color-light-grayish-blue,
        $avatar-border-color: base.$font-color-light-violet,
    );

    @media screen and (min-width: 64rem) {
        grid-row: 2 / 3;
        grid-column: span 2;
    }
}

#kira {
    @include card(
        $avatar-border-color: transparent,
        $name-color: base.$font-color-dark-grayish-blue,
        $status-color: base.$font-color-dark-grayish-blue,
        $title-color: base.$font-color-dark-grayish-blue,
        $review-color: base.$font-color-dark-grayish-blue,
    );

    @media screen and (min-width: 64rem) {
        grid-row: span 2;
    }
}