@use 'base';
@use 'mixin';

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 71px 24px;
    gap: 24px;

    @media screen and (min-width: 64rem) {
        grid-template-columns: repeat(4, fit-content(15.938rem));
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }
}

#daniel {
    @include mixin.card(
        $bgColor: base.$font-color-violet,
        $avatar-border-color: base.$font-color-light-violet,
    );
    
    position: relative;
    
    img.quotation {
        position: absolute;
        top: 0%;
        right: 8%;
    }

    @media screen and (min-width: 64rem) {
        grid-column: span 2;

        img.quotation {
            right: 15%;
        }
    }
}

#jonathan {
    @include mixin.card(
        $bgColor: base.$font-color-dark-grayish-blue,
        $avatar-border-color: transparent,
    );
}

#jeanette {
    @include mixin.card(
        $avatar-border-color: transparent,
        $name-color: base.$font-color-dark-grayish-blue,
        $status-color: base.$font-color-dark-grayish-blue,
        $title-color: base.$font-color-dark-grayish-blue,
        $review-color: base.$font-color-dark-grayish-blue,
    );


    @media screen and (min-width: 64rem) {
        grid-row: 2 / 3;
    }
    
}

#patrick {
    @include mixin.card(
        $bgColor: base.$font-color-dark-blackish-blue,
        $title-color: base.$font-color-light-grayish-blue,
        $avatar-border-color: base.$font-color-light-violet,
    );

    @media screen and (min-width: 64rem) {
        grid-row: 2 / 3;
        grid-column: span 2;
    }
}

#kira {
    @include mixin.card(
        $avatar-border-color: transparent,
        $name-color: base.$font-color-dark-grayish-blue,
        $status-color: base.$font-color-dark-grayish-blue,
        $title-color: base.$font-color-dark-grayish-blue,
        $review-color: base.$font-color-dark-grayish-blue,
    );

    @media screen and (min-width: 64rem) {
        grid-row: span 2;
    }
}