* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.813rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 71px 24px;
  gap: 24px;
}
@media screen and (min-width: 64rem) {
  main {
    grid-template-columns: repeat(4, fit-content(15.938rem));
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
}

#daniel {
  background-color: #7541c8;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.2474);
  padding: 26px 32px 32px;
  position: relative;
}
#daniel .author-details {
  display: flex;
  align-items: center;
  gap: 17px;
  height: 1.75rem;
  margin-bottom: 18px;
  position: relative;
}
#daniel .author-details img {
  border-radius: 50%;
  border: 2px solid #A775F1;
  height: 100%;
}
#daniel .author-details .name {
  color: white;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}
#daniel .author-details .status {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.688rem;
  font-weight: 500;
  line-height: 1;
}
#daniel h1 {
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
}
#daniel blockquote {
  font-size: 500;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.7);
}
#daniel img.quotation {
  position: absolute;
  top: 0%;
  right: 8%;
}
@media screen and (min-width: 64rem) {
  #daniel {
    grid-column: span 2;
  }
  #daniel img.quotation {
    right: 15%;
  }
}

#jonathan {
  background-color: #48556a;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.2474);
  padding: 26px 32px 32px;
}
#jonathan .author-details {
  display: flex;
  align-items: center;
  gap: 17px;
  height: 1.75rem;
  margin-bottom: 18px;
  position: relative;
}
#jonathan .author-details img {
  border-radius: 50%;
  border: 2px solid transparent;
  height: 100%;
}
#jonathan .author-details .name {
  color: white;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}
#jonathan .author-details .status {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.688rem;
  font-weight: 500;
  line-height: 1;
}
#jonathan h1 {
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
}
#jonathan blockquote {
  font-size: 500;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.7);
}

#jeanette {
  background-color: white;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.2474);
  padding: 26px 32px 32px;
}
#jeanette .author-details {
  display: flex;
  align-items: center;
  gap: 17px;
  height: 1.75rem;
  margin-bottom: 18px;
  position: relative;
}
#jeanette .author-details img {
  border-radius: 50%;
  border: 2px solid transparent;
  height: 100%;
}
#jeanette .author-details .name {
  color: #48556a;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}
#jeanette .author-details .status {
  color: rgba(72, 85, 106, 0.5);
  font-size: 0.688rem;
  font-weight: 500;
  line-height: 1;
}
#jeanette h1 {
  color: #48556a;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
}
#jeanette blockquote {
  font-size: 500;
  line-height: 18px;
  color: rgba(72, 85, 106, 0.7);
}
@media screen and (min-width: 64rem) {
  #jeanette {
    grid-row: 2/3;
  }
}

#patrick {
  background-color: #19212e;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.2474);
  padding: 26px 32px 32px;
}
#patrick .author-details {
  display: flex;
  align-items: center;
  gap: 17px;
  height: 1.75rem;
  margin-bottom: 18px;
  position: relative;
}
#patrick .author-details img {
  border-radius: 50%;
  border: 2px solid #A775F1;
  height: 100%;
}
#patrick .author-details .name {
  color: white;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}
#patrick .author-details .status {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.688rem;
  font-weight: 500;
  line-height: 1;
}
#patrick h1 {
  color: #ecf2f8;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
}
#patrick blockquote {
  font-size: 500;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 64rem) {
  #patrick {
    grid-row: 2/3;
    grid-column: span 2;
  }
}

#kira {
  background-color: white;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.2474);
  padding: 26px 32px 32px;
}
#kira .author-details {
  display: flex;
  align-items: center;
  gap: 17px;
  height: 1.75rem;
  margin-bottom: 18px;
  position: relative;
}
#kira .author-details img {
  border-radius: 50%;
  border: 2px solid transparent;
  height: 100%;
}
#kira .author-details .name {
  color: #48556a;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}
#kira .author-details .status {
  color: rgba(72, 85, 106, 0.5);
  font-size: 0.688rem;
  font-weight: 500;
  line-height: 1;
}
#kira h1 {
  color: #48556a;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
}
#kira blockquote {
  font-size: 500;
  line-height: 18px;
  color: rgba(72, 85, 106, 0.7);
}
@media screen and (min-width: 64rem) {
  #kira {
    grid-row: span 2;
  }
}

/*# sourceMappingURL=output.css.map */
