$ff-main: "Barlow Semi Condensed", serif;
$fs-body: 0.813rem;

$pc-violet: #7541c8;
$pc-violet-secondary: #a775f1; 
$pc-grayish-blue: #48556a;
$pc-blackish-blue: #19202d;
$pc-white: #ffffff;

$nc-light-gray: #cfcfcf;
$nc-light-grayish-blue: #ecf2f8;

$shadow-sm: 40px 60px 50px -47px rgba($pc-grayish-blue, 24.74%);
$rounded-sm: 8px;