/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: pretty;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-size: 0.813rem;
  display: grid;
  place-items: center;
  padding: 24px;
  background-color: #cfcfcf;
}

h1, h2, h3 {
  font-weight: 600;
}

.grid {
  display: grid;
  gap: clamp(1.5rem, 3vw, 1.875rem);
  max-width: 69.375rem;
}
@media screen and (min-width: 48rem) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid__item:first-child, .grid__item:nth-of-type(4) {
    grid-column: span 2;
  }
  .grid__item:nth-of-type(5) {
    grid-column: span 3;
  }
}
@media screen and (min-width: 64rem) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid__item:nth-of-type(5) {
    grid-row: 1/span 2;
    grid-column: 4;
  }
}

.card {
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.2474);
  color: #48556a;
  background-color: #ffffff;
  padding: 1.625rem 2rem;
}
.card__author {
  display: flex;
  gap: 17px;
  line-height: 1;
  height: 1.75rem;
  margin-bottom: 1.125rem;
}
.card__name {
  margin-bottom: 4px;
}
.card__status {
  font-size: 0.688rem;
  opacity: 50%;
}
.card__img {
  border-radius: 50%;
}
.card__img--bordered {
  border: 2px solid #a775f1;
}
.card__title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.card__quote {
  line-height: 1.38;
  opacity: 70%;
}
.card:first-child {
  background-color: #7541c8;
  color: #ffffff;
  position: relative;
  z-index: 0;
}
.card:first-child::before {
  content: "";
  background: url("../../images/bg-pattern-quotation.svg") no-repeat;
  width: 6.5rem;
  height: 6.5rem;
  position: absolute;
  top: 0;
  right: 10%;
  z-index: -1;
}
.card:first-child > .card__quote {
  color: #cfcfcf;
}
.card:nth-of-type(2) {
  background-color: #48556a;
  color: #ffffff;
}
.card:nth-of-type(4) {
  background-color: #19202d;
  color: #ffffff;
}
.card:nth-of-type(4) > .card__title {
  color: #ecf2f8;
}

/*# sourceMappingURL=style.css.map */
